.displayTable {
  display: grid;
  margin-left: 4rem;
  margin-right: 4rem;
}

.mainTitle {
  display: flex;
  justify-content: center;
}

.tableData td {
  border: solid black 0.1rem;
  text-align: center;
  background-color: white;
}

.displayButtons {
  display: flex;
  justify-content: center;
}

.columnHeadings th {
  text-align: center;
  border: solid black 0.2rem;
  width: 3rem;
  padding: none;
}