.addForm {
  display: flex;
  justify-content: center;
}

.addForm input {
  width: 9rem;
}

.filterButton {
  display: flex;
  justify-content: center;
  width: 7rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filterSongTitle {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.search{
  display: flex;
  justify-content: center;
}