/* .addForm {
  display: grid;
  justify-content: center;
}

.addForm input {
  width: 9rem;
}

.button {
  width: 7rem;
  margin-left: 27rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filterSongTitle {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
} */
